{
  "sourceMaps": "both",
  "presets": [
    "env"
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
