
.row {
    display: table-row;
    width: 950px;
}

#display {
    display: table-cell;
    vertical-align: top;
    width: 640px;
    height: 400px;
    padding: 15px;
    background-color: 303030;
}

#overlay {
    /*visibility: hidden;*/
    position: absolute;
    left: 0px;
    top: 0px;
    /*width:100%;*/
    height:100%;
    text-align:center;
    /*z-index: 1001;*/
    /*background-color: #000000;*/
    /*opacity: 0.8;*/

    width:300px;
    /*color:#FFFFFF;*/
    position:relative;
    float:left;
    margin-left:20px;
    overflow:hidden;
}
#overlay .transparency
{
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    background-color:#000000;
    width:340px;
    height:1500px;
    position:absolute;
    top:0px;
    left:0px;
    /*z-index:1000;*/
    z-index:-1;
}
#overlay .content
{
    position:relative;
}

#settings {
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
    z-index: 1001;
}
#settings label {
    font-weight: bold;
    display: block;
    /*float: left;*/
    /*clear: left;*/
    margin-right: 15px;
}
#settings label:after { content: ": " }
#settings .input {
    /*float: left;*/
}
#settings output{
    display: block;
    clear: both;
    padding-left: 45px;;
}

/*font-family: 'Gafata', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/
#controls {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    padding-left: 10px;

}
#controls label {
    font-weight: bold;
    display: block;
    /*float: left;*/
    /*clear: left;*/
    margin-right: 15px;
}
#controls label:after { content: ": " }
#controls .input {
    /*float: left;*/
}
#controls output{
    display: block;
    clear: both;
    padding-left: 45px;;
}

.file_chooser {
    position: relative;
    overflow: hidden;
    padding: 5px;
}
.file-chooser-input {
    position: absolute;
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
    top: 0px;
    left: 0px;
}



#debug {
    height: 150px;
}
#debug fieldset {
    height: 100%;
}

#debug-decode {
    display: inline-block;
    vertical-align: top;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11px;
    width: 187px;
    height: 100%;
}

#debug-decode .debug-title {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}

/*Debug Decode Table*/
#debug-decode table:nth-of-type(1) {
    /*background-color: #333;*/
    font-size: 11px;
}

#debug-decode table:nth-of-type(2) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}
#debug-decode table:nth-of-type(2) th {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}
#debug-decode table:nth-of-type(2) td {
    text-align: right;
}
#debug-decode table:nth-of-type(2) tr>td:nth-child(1){ width: 78px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(2){ width: 48px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(3){ width: 10px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(4){ width: 10px; }


#debug-decode table:nth-of-type(3) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}
#debug-decode table:nth-of-type(3) th {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}
#debug-decode table:nth-of-type(3) td {
    text-align: right;
}
#debug-decode table:nth-of-type(3) tr>td:nth-child(1){ width: 78px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(2){ width: 32px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(3){ width: 18px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(4){ width: 18px; }


#debug-registers {
    display: inline-block;
    vertical-align: top;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11px;
    width: 253px;
    height: 100%;
}

#debug-registers .debug-title {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}

#debug-registers table:nth-of-type(1) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}

#debug-registers table:nth-of-type(2) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}

#debug-memory {
    display: inline-block;

    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11px;
    width: 253px;
    height: 100%;
}
#debug-memory-center {
    width: 40px;
}

#debug-memory table {
    font-size: 11px;
}


.debug-memory-container {

}
.debug-memory-row {

}
.debug-memory-row:hover {
    background-color: #555555;
}
.debug-memory-addr{
    font-weight: bold;
    background-color: #444;
    color: #FFF;
}
.debug-memory-value{

}

.debug-memory-IP {
    background-color: blue;
}




#offscreen {
    display: none;
}










.button.active {
    background-color: #fff;
}