
/*font-family: 'Gafata', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/

#debug {
    height: 150px;
}
#debug fieldset {
    height: 100%;
}

#debug-decode {
    display: inline-block;
    vertical-align: top;

    width: 187px;
    height: 100%;
}

#debug-decode .debug-title {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}

/*Debug Decode Table*/
#debug-decode table:nth-of-type(1) {
    /*background-color: #333;*/
    font-size: 11px;
}

#debug-decode table:nth-of-type(2) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}
#debug-decode table:nth-of-type(2) th {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}
#debug-decode table:nth-of-type(2) td {
    text-align: right;
}
#debug-decode table:nth-of-type(2) tr>td:nth-child(1){ width: 78px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(2){ width: 48px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(3){ width: 10px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(4){ width: 10px; }


#debug-decode table:nth-of-type(3) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}
#debug-decode table:nth-of-type(3) th {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}
#debug-decode table:nth-of-type(3) td {
    text-align: right;
}
#debug-decode table:nth-of-type(3) tr>td:nth-child(1){ width: 78px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(2){ width: 32px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(3){ width: 18px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(4){ width: 18px; }


#debug-registers {
    display: inline-block;
    vertical-align: top;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11px;
    width: 253px;
    height: 100%;
}

#debug-registers .debug-title {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}

#debug-registers table:nth-of-type(1) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}

#debug-registers table:nth-of-type(2) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}

#debug-memory {
    display: inline-block;

    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11px;
    width: 253px;
    height: 100%;
}
#debug-memory-center {
    width: 40px;
}

#debug-memory table {
    font-size: 11px;
}


.debug-memory-container {

}
.debug-memory-row {

}
.debug-memory-row:hover {
    background-color: #555555;
}
.debug-memory-addr{
    font-weight: bold;
    background-color: #444;
    color: #FFF;
}
.debug-memory-value{

}

.debug-memory-IP {
    background-color: blue;
}




#offscreen {
    display: none;
}










.button.active {
    background-color: #fff;
}