//mixins
@mixin clean-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin left {
  float: left;
}
@mixin fillscreen {
  width:100%;
  height: 100%;
  position: absolute;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
@mixin button-linear-gradient($top-color, $bottom-color) {
  background: $top-color; /* Old browsers */
  background: -moz-linear-gradient(top,  $top-color 0%, $bottom-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top-color), color-stop(100%,$bottom-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top-color 0%,$bottom-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top-color 0%,$bottom-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top-color 0%,$bottom-color 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top-color 0%,$bottom-color 100%); /* W3C */
}
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition : $transition-property $transition-time $method;
  -moz-transition    : $transition-property $transition-time $method;
  -ms-transition     : $transition-property $transition-time $method;
  -o-transition      : $transition-property $transition-time $method;
  transition         : $transition-property $transition-time $method;
}

@mixin btn-default ($border-color, $top-gradient-color, $bottom-gradient-color) {
  border: 1px solid$border-color;
  @include border-radius(5px);
  @include button-linear-gradient($top-gradient-color, $bottom-gradient-color);
  color: #FFF;
  @include transition(all, 0.45s, ease-in-out);

  &:hover {
    @include button-linear-gradient(darken($top-gradient-color, 20%), darken($bottom-gradient-color, 30%));
  }
  &:focus,&:active{
    @include button-linear-gradient(lighten($top-gradient-color, 20%),lighten($bottom-gradient-color, 20%));
  }
}

@mixin opacity ( $value: 0.5 ) {
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
  filter: alpha(opacity= $value * 100 );
  -moz-opacity: $value;
  -khtml-opacity: $value;
  opacity: $value;
}

@mixin variable-opacity ( $value) {
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
  filter: alpha(opacity= $value * 100 );
  -moz-opacity: $value;
  -khtml-opacity: $value;
  opacity: $value;
}

@mixin transparent-background ( $r: 50, $g: 50, $b: 50, $alpha: 50) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $alpha);
}

.emulator-application {
  .button {
    @include border-radius(4px);
    border: 1px solid white;
    background-color: #555;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
  }
}