.gui-debug {
  //background-color: #252525;
  margin: 10px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;

  @include border-radius(12px);

  font-family: 'Ubuntu Mono', sans-serif;
  //font-size: 11px;

  .row {
    //overflow: hidden;
    .row-half {
      float: left;
      width : 50%;
    }
    .row-full {
      float: left;
      width : 100%;
    }
    &:before, &:after {
      content: ".";
      visibility: hidden;
      display: table;
      height: 0;
      clear: both;
      line-height: 0;
    }
    &:after {
      line-height: 15px;
    }
  }

  .debug-window {

    fieldset {
      height: 100%;
    }

    table {
      border: 1px solid #0c0c0c;
      border-collapse: collapse;

      width: 100%;
      margin-top: 4px;
      margin-bottom: 4px;
      @include border-radius(4px);

      text-align: center;

      thead {
        background: #0c0c0c;
      }

      th, td {
        border: 1px solid #0c0c0c;
        padding-left: 3px;
        padding-right: 3px;
      }

      td.debug-title {
        background: #0c0c0c;
        font-weight: bold;
      }

      &.debug-decode-instruction {
        td :first-of-type {
          width : 140px;
        }
      }
    }
  }
  #gui-debug-info {
    height: 36px;

    .debug-info-window {
      float: left;
      width: 50%;
    }

    .info {
      color: #2244dd;
    }
    .error {
      color: #aa1100;
    }
  }
  #gui-debug-decode {
    height: 156px;
    .debug-decode-instruction {
      td:first-of-type {
        width: 7em;
      }
    }

  }
  #gui-debug-register {
    height: 156px;
  }
  #gui-debug-memory {
    fieldset {
      height: inherit;
    }
    #debug-memory-center {
      width: 60px;
    }
    .debug-memory-table {
      th:first-of-type {
        width: 9em;
      }

      .debug-memory-row:hover {
        background-color: #555555;
      }
      .debug-memory-addr{
        font-weight: bold;
        background-color: #444;
        color: #FFF;
      }
      .debug-memory-IP {
        background-color: blue;
      }
    }
  }
}