html,body{
  background-color: $BACKGROUND;
  color: $FORGROUND;
  font-family: $FONT;
  height: 100%;

  margin: 0px;
  padding: 0px;
}

.emulator-application {
  height: 100%;

  width: 900px;
  margin: 0 auto;

  header {
    margin-left: 21px;

    h1 {
      display: inline;
      font-size: 3em;
    }

    .controls {
      float: right;

      fieldset {
        // This seems to cause wierd behavior
        //@include border-radius(8px);
        float: right;
      }

      legend {
        //font-size: 11px;
        font-family: 'Ubuntu Mono', sans-serif;
      }
    }
  }

  .monitor {
    //background-color: #252525;
    margin: 10px auto;
    //padding: 20px;
    text-align: center;
    overflow: hidden;

    @include border-radius(12px);

    canvas {
      margin: 0px auto;
      background-color: #000000;
    }
  }

  // Import debug styling
  @import "debug";

  // Import GUI styling
  @import "gui";
}

#offscreen {
  display: none;
}